
        <section class="follow share">
            <h4>Follow Us</h4>
            <a class="icon-google-plus" href="https://plus.google.com/+BigThinkingAppliedToEverything" target="_blank">
                <span class="hidden">Google+</span>
            </a>
            <a class="icon-facebook" href="https://www.facebook.com/bigthinkingapplied" target="_blank">
                <span class="hidden">Facebook</span>
            </a>
            <a class="icon-twitter" href="https://twitter.com/intent/follow?screen_name=bigthinkapplied&amp;user_id=2592170804" target="_blank">
                <span class="hidden">Twitter</span>
            </a>
            <a class="linkedin-btn" href="https://linkedin.com/company/big-thinking-applied"  target="_blank" style="height:24px;margin: 0.5rem 1.6rem;">
                <img src="{{asset 'images/share-button/linkedin.png'}}" alt="follow on linkedin" border="0" />
            </a>
        </section>