   <div class="thinkbig-searchbox">
        <div class="thinkbig-search-container">
            <div class="thinkbig-middle">
                <form>
                  <input id="thinkbig-search-field" placeholder="Start typing to search...">
                </form>
            </div>
        </div>
    </div>